<section class="homepage-container">
  <%= render "partials/nav" %>

  <div class="banner-container">
    <div class="search">
      <%= form_tag("/destination", method: "get") do %>
        <%= label_tag(:q, "Where do you want to go?") %>
        <br />
        <%= text_field_tag(:q, nil, class: "user-input") %>
        <br />
        <%= submit_tag("Show me routes!", class: "button") %>
      <% end %>
    </div>
  </div>


</section>

<div class="homepage-copy">
  <p>Find the safest way to get you<br />
    where you want to go.</p>
</div>